<!DOCTYPE html>
<html>

{% load staticfiles %}

<head>
  <meta charset="ISO-8859-1">
  <title>Task detail</title>
  <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}" type="text/css" />
</head>

<body>

<div>
  <form action="{% url 'tasks:logout' %}" method="post">
    {% csrf_token %}
    {{user.first_name}} {{user.last_name}}  
    <input type="submit" id="start" value="Logout" />
  </form>
</div>

 <table>   
 <tr>
 	<th colspan="2">Task detail</th>
 </tr> 
 <tr>
   <td>Name</td>
   <td>{{ task.name }}</td>
 </tr>
 <tr>
   <td>Description</td>
   <td>{{ task.description }}</td>
 </tr>
 <form action="{% url 'tasks:finish_task' task.id %}" method="post">
 <tr>
   <td>Next tasks</td>   
   <td>   
     {% csrf_token %}
     {% if next_tasks|length > 0 %}
     {% for task in next_tasks %}
     <input type="radio" name="next_task_name" value="{{ task.name }}">{{ task.name }}<br>
     {% endfor %}
     {% endif %}
   </td>
 </tr>
 <tr>
   <td>	
   </td>	
   <td align="center">		
     <input type="submit" id="start" value="Finish" />
   </td>      
 </tr>
 </form>
</table>
</body>
</html>